<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="DbConnectionString" value="mongodb://auth2factor-fingerprint:gF669HmWYfbcMVoKTWFQzAFppf4FPYyBx8t7OCKqJVdBCYlbQPB848XgxKux3SomGspIwQPjmuXWkcuxD2Nasw==@auth2factor-fingerprint.documents.azure.com:10250/?ssl=true" />
    <!--<add key="DbConnectionString" value="mongodb://localhost:27017/auth2factor_fingerprint"/>-->
    <add key="DbName" value="auth2factor_fingerprint" />
    <add key="EncKey" value="85D46B9DE38FB232CFCD94C3AE872" />
    <add key="License" value="{  &quot;Name&quot;: &quot;Demo App&quot;,  &quot;Entity&quot;: &quot;auth2factor&quot;,  &quot;AllowedApps&quot;: [ &quot;http://localhost:8080/&quot;, &quot;http://localhost:8088/&quot;, &quot;http://localhost:8081/&quot; ],  &quot;ApiServerSecret&quot;: &quot;XOqnK6OeVp49ePX5ghvqAoirlKXrLdbYnSSxbnCPYZc/WGJo9rMGJSSvoo7AaIXF7zI4AeD240o1zPTTL5Q2dg==&quot;,  &quot;ApiClientSecret&quot;: &quot;KFngQjinNtHWtyKqiXINcByuNEkqyoGkaX8xL+IXKfH5mUfBGApNkIv1supp7Pw45AS+FfjZiEXrLZ8prNf2ww==&quot;,  &quot;Created&quot;: &quot;2017-02-03T17:36:45.7455845-05:00&quot;,  &quot;l&quot;: &quot;gzs+psZ7cjVJO12uVdfSUwG/XMCQ340YMY4MGBRXS6JEagfKxhlPX/2YGmi0KdpNd75s03fXhfo0r1Kh14MQW1SBWO7MQBJNXgZLXmuAa4+J2ftawQcrftqxASdaswCf&quot;}" />
  </appSettings>
  <system.diagnostics>
    <trace>
      <listeners>
        <add type="Microsoft.WindowsAzure.Diagnostics.DiagnosticMonitorTraceListener, Microsoft.WindowsAzure.Diagnostics, Version=2.8.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" name="AzureDiagnostics">
          <filter type="" />
        </add>
      </listeners>
    </trace>
  </system.diagnostics>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Services.Client" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.OData" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Data.Edm" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.7.0.0" newVersion="5.7.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
</configuration>
