<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="DbConnectionString" value="mongodb://auth2factor-fingerprint:gF669HmWYfbcMVoKTWFQzAFppf4FPYyBx8t7OCKqJVdBCYlbQPB848XgxKux3SomGspIwQPjmuXWkcuxD2Nasw==@auth2factor-fingerprint.documents.azure.com:10250/?ssl=true"/>
    <!--<add key="DbConnectionString" value="mongodb://localhost:27017/auth2factor_fingerprint"/>-->
    <add key="DbName" value="auth2factor_fingerprint"/>
    <!--<add key="DbName" value="auth2factor_fingerprint"/>-->
    <add key="EncKey" value="85D46B9DE38FB232CFCD94C3AE872"/>
    <add key="LicensePath" value="../../a2f.lic"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>