<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>    
    <add key="DbConnectionString" value="mongodb://localhost:27017/auth2factor_fingerprint"/>
    <add key="DbName" value="auth2factor_fingerprint"/>
    <add key="WebsocketPort" value="8082"/>
    <add key="RestHostUrl" value="http://localhost:8080"/>
    <add key="EncKey" value="85D46B9DE38FB232CFCD94C3AE872"/>
    <add key="LicensePath" value="../../a2f.lic"/>
  </appSettings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>