<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <!--<add key="auth2factor.Websocket" value="ws://localhost:8082/reader" />-->
    <add key="auth2factor.Websocket" value="ws://a2factorfingerprintdemo.cloudapp.net:8082/reader" />
  </appSettings>  
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
</configuration>