<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="Handlebars.Net" version="1.7.1" targetFramework="net461" />
  <package id="Inferno" version="1.4.0" targetFramework="net461" />
  <package id="jose-jwt" version="2.1.0" targetFramework="net461" />
  <package id="MongoDB.Bson" version="2.4.1" targetFramework="net461" />
  <package id="MongoDB.Driver" version="2.4.1" targetFramework="net461" />
  <package id="MongoDB.Driver.Core" version="2.4.1" targetFramework="net461" />
  <package id="Nancy" version="1.4.3" targetFramework="net461" />
  <package id="Nancy.Authentication.Stateless" version="1.4.1" targetFramework="net461" />
  <package id="Newtonsoft.Json" version="9.0.1" targetFramework="net461" />
  <package id="System.Runtime.InteropServices.RuntimeInformation" version="4.0.0" targetFramework="net461" />
  <package id="WebSocketSharp" version="1.0.3-rc11" targetFramework="net461" />
</packages>